<h1>Charity Jammer</h1>

<h2>Project Title: <%= @project.title %></h2>


<h3>Volunteers</h3>

  <% if @project.volunteers %>
    <ul>
      <% @project.volunteers.each do |volunteer| %>
        <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no volunteers listed for this project yet.</p>
  <% end %>

<h4>Add a volunteer:</h4>

<form action="/projects/<%= @project.id %>/volunteers" method="post">
  <div class="form-group">
    <label for="name">Volunteer name</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add volunteer</button>
</form>

<p><a href="/projects/<%= @project.id %>/edit">Edit Project</a></p>
<a href="/projects">Return to project list</a>


<a href="/projects/new">Add a new project</a>

<form action="/projects" method="get">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" title="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

<form action="/projects" method="get">
  <button type="submit" title="sort" class="btn">Sort!</button>
</form>
